<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LA3DataTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="LA_Entities" connectionString="metadata=res://*/Model.LA_Model.csdl|res://*/Model.LA_Model.ssdl|res://*/Model.LA_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LGS18071-L\SQLEXPRESS;initial catalog=LoanArranger3_ef;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ST_Entities" connectionString="metadata=res://*/Model.ST_Model.csdl|res://*/Model.ST_Model.ssdl|res://*/Model.ST_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LGS18071-L\SQLEXPRESS;initial catalog=LoanArrangerStaging_ef;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="5">
      <listeners>
        <add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LA3TraceOutput.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <LA3DataTransfer.Properties.Settings>
      <setting name="ErrorFolder" serializeAs="String">
        <value>C:\Development\GitHub\LA3_DataTransfer\ErrorLog\</value>
      </setting>
    </LA3DataTransfer.Properties.Settings>
  </applicationSettings>
</configuration>